<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <h1>Bienvenue sur The Gossip Project !</h1>
  <p>Tu peux <a href="/gossips/new/">créer un nouveau potin</a>.</p>
  <% gossips.each do |gossip| %>
    <p>
      <%= gossip.author %><br/>
      <%= gossip.content %>
    </p>
  <% end %>
  
  </body>
</html>